html, body {
    height: 100%;
}

body {
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 40px;
}

p {
    margin: 0 0 1px;
}

.notify{
    -o-box-shadow: 0px -2px 4px 0px rgb(14, 175, 238);
    -moz-box-shadow: 0px -2px 4px 0px rgb(14, 175, 238);
    -webkit-box-shadow: 0px -2px 4px 0px rgb(14, 175, 238);
    box-shadow: 0px -2px 4px 0px rgb(14, 175, 238);
}

.online {
    list-style-image: url("icons/online.png");
}

.offline {
    list-style-image: url("icons/offline.png");
}

.online, .offline {
    text-transform: capitalize;
    list-style-position: inside;
}

.sidebar-nav {
    padding: 9px 0;
}

.table td, .label {
    line-height: 16px;
    font-size: 13px;
}

pre.prettyprint {
    margin-bottom: 2px;
}

#main-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -54px;
}

#connection {
    text-transform: capitalize;
}

#connectRoomsContent {
    -o-box-shadow: 0 0 5px 1px #888;
    -moz-box-shadow: 0 0 5px 1px #888;
    -webkit-box-shadow: 0 0 5px 1px #888;
    box-shadow: 0 0 5px 1px #888;
}

::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-button:vertical {
    background-color: transparent;
    height: 5px
}

::-webkit-scrollbar-button:start:decrement {
    display: block
}

::-webkit-scrollbar-button:end:increment {
    display: block
}

::-webkit-scrollbar-button:vertical:start:increment {
    display: none
}

::-webkit-scrollbar-button:vertical:end:decrement {
    display: none
}

::-webkit-scrollbar-track-piece {
    background-color: white
}

::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
    border-right: 4px solid white;
    border-left: 4px solid white
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, 0.4)
}

::-webkit-scrollbar-corner:vertical {
    background-color: white
}

::-webkit-scrollbar-resizer:vertical {
    background-color: red
}